@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?8m7f9t');
    src:    url('fonts/icomoon.eot?8m7f9t#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?8m7f9t') format('truetype'),
        url('fonts/icomoon.woff?8m7f9t') format('woff'),
        url('fonts/icomoon.svg?8m7f9t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e900";
}
.icon-sheet:before {
    content: "\e901";
}
.icon-up-arrow:before {
    content: "\e902";
}

