<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>ODI</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Lora" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="css/style.css">

	<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>

</head>
<body>

<div id="appView">

	<header class="header">
		
		<div class="container">
			
			<div class="row">
				<div class="six columns">
					<div class="site-name">
						<h1>Riksdagens Motioner</h1>
						<div class="sub">Riksdagens documents</div>
					</div>
				</div>

				<div class="six columns">

					<nav id="site-navigation" class="main-navigation" role="navigation">
						<div class="menu-menu-1-container">
							<ul id="primary-menu" class="menu">
								<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15 current-menu-item"><a href="">About</a></li>
								<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="">How to use</a></li>
							</ul>
						</div>
					</nav>

				</div>

			</div>

		</div>

	</header>

	<div class="container search-container">
		<div id="searchInput"></div>
	</div>

	<hr class="offset" />

	<div class="results-container wrapper">

		<div class="container default-margins top-offset-border">
			<div class="row">

				<div class="twelve columns">
					<div id="ngramContianer" class="ngram-container"></div>

					<div id="sliderContainer" class="slider-container"></div>
				</div>

			</div>
		</div>
	
	</div>

	<div id="hitlistContainer"></div>

</div>

<div id="textViewer" class="text-viewer"></div>

<script id="textViewerTemplate" type="text/template">

	<div class="overlay"></div>

	<div class="text-content">
		<div class="container">
			<div class="row">
				<div class="twelve columns">
					<h2><%= title %></h2>
					<p><%= html %></p>
				</div>
			</div>
		</div>
	</div>

	<a class="close-button"><span class="icon-close"></span></a>

</script>

<script id="hitlistUiTemplate" type="text/template">
	<div class="hitlist-container wrapper bg-gray">

		<hr class="top-border">

		<div class="arrow"></div>

		<div class="container default-margins extra-top-margins narrow-bottom-margins">
			<div class="row">
				<div class="twelve columns">
					<h2 class="text-center">Search results</h2>
					<p class="text-center">"utbildning" (M), 1984-2000</p>
				</div>
			</div>
		</div>

		<div class="container default-margins">
			<div class="row">

				<div class="twelve columns doc-list list-container"></div>
			
			</div>
		</div>

	</div>	
</script>

<script id="listItemTemplate" type="text/template">

	<div class="list-item">

		<a class="item-title">

			<div class="title"><strong><%= model.get('_source').dokument.titel %></strong> <%= model.get('_source').dokument.subtitel %></div>
			<div class="title-attribs">
				<% if (model.get('parties').length > 0) { %>
					<% _.each(model.get('parties'), function(party) { %>
						<div class="party-letter"><%= party %></div>
					<% }); %>
				<% } %>
				<%= model.get('_source').dokument.publicerad %>
			</div>
		</a>

		<div class="item-content">

			<div class="row">


				<div class="eight columns">
					<p><%= model.get('_source').dokument.text ? model.get('_source').dokument.text.substr(0, 1000)+'<br/>...' : '' %></p>
				</div>

				<div class="four columns">
					<a href="" class="button u-full-width full-text-button"><span class="icon-sheet"></span> Läs hela</a><br/>
					<a href="<%= model.get('_source').dokument.dokument_url_html %>" target="_blank" class="button u-full-width"><span class="icon-up-arrow"></span> Dokument (html)</a>

					<% _.each(model.get('_source').dokbilaga.bilaga, function(file) { %>
						<a href="<%= file.fil_url %>" target="_blank" class="button u-full-width"><span class="icon-up-arrow"></span> Dokument (<%= file.filtyp %>)</a>	
					<% }) %>

				</div>
			</div>

		</div>

	</div>

</script>

<script id="searchInputTemplate" type="text/template">

	<div class="row">
		<div class="ten columns">
		
			<div class="search-wrapper">

				<div class="query-items">
				</div>

				<input type="text" class="query-input">
			</div>

		</div>
		<div class="two columns">
			<button class="button button-primary u-full-width search-button">Sök</button>
		</div>
	</div>
	
</script>

<script id="queryItemTemplate" type="text/template">
	<a href="#" class="item">
		<div class="label"><%= queryString %></div>

		<div class="remove-button">x</div>
	</a>
</script>

<script id="queryItemsTemplate" type="text/template">

	<% _.each(models, function(model, index) { %>
		<div href="#" class="item" data-index="<%= index %>">
			<div class="label">
				<%= model.get('queryValue') %>

				<!--<div class="remove-button"></div>-->
			</div>

			<div class="query-form">
				<div class="form-content">
					<div class="overlay"></div>
					<div class="row">
						<div class="twelve columns">
							<label>Search string:</label>
							<input type="text" class="query-form-input u-full-width" value="<%= model.get('queryString') %>"/>

							<label>Parties:</label>
							<div class="query-parties check-list">

								<label><input type="checkbox" name="query-parties" value="C" <%= model.get('parties').indexOf('C') > -1 ? 'checked' : '' %>>Centerpartiet (<strong>C</strong>)</label>
								<label><input type="checkbox" name="query-parties" value="KD" <%= model.get('parties').indexOf('KD') > -1 ? 'checked' : '' %>>Kristdemokraterna (<strong>KD</strong>)</label>
								<label><input type="checkbox" name="query-parties" value="L" <%= model.get('parties').indexOf('L') > -1 ? 'checked' : '' %>>Liberalerna (<strong>L</strong>)</label>
								<label><input type="checkbox" name="query-parties" value="MP" <%= model.get('parties').indexOf('MP') > -1 ? 'checked' : '' %>>Miljöpartiet de gröna (<strong>MP</strong>)</label>
								<label><input type="checkbox" name="query-parties" value="M" <%= model.get('parties').indexOf('M') > -1 ? 'checked' : '' %>>Moderata samlingspartiet (<strong>M</strong>)</label>
								<label><input type="checkbox" name="query-parties" value="S" <%= model.get('parties').indexOf('S') > -1 ? 'checked' : '' %>>Socialdemokraterna (<strong>S</strong>)</label>
								<label><input type="checkbox" name="query-parties" value="SD" <%= model.get('parties').indexOf('SD') > -1 ? 'checked' : '' %>>Sverigedemokraterna (<strong>SD</strong>)</label>
								<label><input type="checkbox" name="query-parties" value="V" <%= model.get('parties').indexOf('V') > -1 ? 'checked' : '' %>>Vänsterpartiet (<strong>V</strong>)</label>
							</div>
						</div>
					</div>
					<div class="row form-footer">
						<div class="twelve columns">
							<a class="button button-primary form-save-button">Save</a>
							<a class="button remove-button">Remove</a>
							<a class="button form-cancel-button u-pull-right">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% }) %>
</script>

<script id="ngramViewTemplate" type="text/template">

<!--	<h2 class="text-center">Results by year</h2>-->
<!--	<p class="text-center">Search for: <span class="search-term-label"></span></p>-->


	<label><input class="include-total-docs" type="checkbox"> Include total documents</label>

	<svg id="chartContainer" width="100%" height="500"></svg>

	<div class="info-overlay"></div>

	<div class="loading-overlay"></div>
	
</script>

<script id="ngramInfoTemplate" type="text/template">

	<p><strong><%= data[0].data.key_as_string %></strong></p>
		<% _.each(data, function(item) { %>
		<div class="item">
			<div class="color" style="background-color: <%= item.color %>"></div>
			<div class="label"><strong><%= item.key %></strong>: <%= item.data.doc_count %></div>
		</div>
	<% }) %>
	
</script>

<script src="js/app.min.js"></script>

</body>
</html>
